.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: $black;
  background-color: transparent;
  transition: padding 225ms, box-shadow 225ms, background-color 0.3s;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-fill {
    background-color: $white;
  }

  .hamburger {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: $white;
    }
  }
}
