.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: $black;
  background-color: transparent;
  transition: background-color 0.3s;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-scrolled {
    background-color: transparent;
    .logo img {
      filter: invert(0);
      transition: all 0.3s;
    }
  }

  .logo-inverted {
    filter: invert(1);
  }

  .hamburger {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: $white;
    }
  }

  .hamburger {
    .hamburger-inner-inverted,
    .hamburger-inner-inverted::before,
    .hamburger-inner-inverted::after {
      background: #000000;
    }
  }

}
