.homepage-body {
  padding-left: 1em;
}

.home-project-link {
  margin-bottom: 3em;
}

.project-title-link {
  text-decoration: none;
  color: inherit;
}

.project-title {
  margin-bottom: 0.25em;
  color: #000000;
}
.project-date {
  color: #2C3A47;
}
