@media only screen and (min-device-width : 768px){
  .homepage-body {
    width: 98%;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width : 767px){
  .homepage-body {
    width: 92%;
    margin: 0 auto;
  }
}

.home-project-link {
  margin-bottom: 3em;
}

.project-title-link {
  text-decoration: none;
  color: inherit;
}

.project-title {
  margin-bottom: 0.25em;
  color: #000000;
}
.project-date {
  color: #2C3A47;
}

.preview-img {
  top: 0;
}
