.studio-content {
  grid-column: 1 / 4;
  margin: 10vh auto;
  width: 80%;
}

.team-title {
  text-align: center;
  margin: 10vh 0;
  text-transform: uppercase;
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
  // opacity: 0.85;
}

.centered{
  text-align: center;
}
